#second-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 40px;
}

#second-section section {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

#second-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.second-section-image {
  max-width: 85%;
  max-height: 85%;
}

.second-section-image img {
  width: 100%;
  box-sizing: border-box;
}

.second-section-image img:hover {
  cursor: pointer;
}

.second-section-text {
  background-color: #f2f2f2;
  width: 85%;
  color: #a3a3a3;
  padding: 10px 20px;
  box-sizing: border-box;
}

.second-section-text:hover {
  background-color: #ededed;
}

.second-section-text h3 {
  font-size: calc(0.5rem + 0.6vw);
  font-weight: 700;
}

.second-section-text p {
  font-size: calc(0.5rem + 0.5vw);
  font-weight: 600;
}

.uploaded-by {
  color: #757575;
}

.bold {
  font-weight: 800;
}

.bold:hover {
  color: #989898;
  cursor: pointer;
}
